<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mox.mapper.BeOrderMapper">
  <resultMap id="BaseResultMap" type="com.mox.entity.BeOrder">
    <!--@mbg.generated generated on Thu May 06 11:19:55 CST 2021.-->
    <!--@Table be_order-->
    <id column="OrderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="OrderType" jdbcType="INTEGER" property="ordertype" />
    <result column="StepID" jdbcType="INTEGER" property="stepid" />
    <result column="CreateEmp" jdbcType="INTEGER" property="createemp" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="CompleteEmp" jdbcType="INTEGER" property="completeemp" />
    <result column="CompleteDate" jdbcType="TIMESTAMP" property="completedate" />
    <result column="LastEditEmp" jdbcType="INTEGER" property="lasteditemp" />
    <result column="LastEditDate" jdbcType="TIMESTAMP" property="lasteditdate" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="UserType" jdbcType="VARCHAR" property="usertype" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="LinkMan" jdbcType="VARCHAR" property="linkman" />
    <result column="Phone" jdbcType="VARCHAR" property="phone" />
    <result column="UseTarget" jdbcType="VARCHAR" property="usetarget" />
    <result column="HouseHeight" jdbcType="INTEGER" property="househeight" />
    <result column="MaxAmount" jdbcType="INTEGER" property="maxamount" />
    <result column="MeterTypeID" jdbcType="INTEGER" property="metertypeid" />
    <result column="MeterCount" jdbcType="INTEGER" property="metercount" />
    <result column="UserRemark" jdbcType="VARCHAR" property="userremark" />
    <result column="PayType" jdbcType="VARCHAR" property="paytype" />
    <result column="BankCompany" jdbcType="VARCHAR" property="bankcompany" />
    <result column="BankNum" jdbcType="VARCHAR" property="banknum" />
    <result column="OldUserNo" jdbcType="VARCHAR" property="olduserno" />
    <result column="OldUserName" jdbcType="VARCHAR" property="oldusername" />
    <result column="OldUserPhone" jdbcType="VARCHAR" property="olduserphone" />
    <result column="OldUserAddr" jdbcType="VARCHAR" property="olduseraddr" />
    <result column="OldMeter" jdbcType="VARCHAR" property="oldmeter" />
    <result column="AuditEmpID" jdbcType="INTEGER" property="auditempid" />
    <result column="AuditMessage" jdbcType="VARCHAR" property="auditmessage" />
    <result column="ProjectMoney" jdbcType="DECIMAL" property="projectmoney" />
    <result column="RealMoney" jdbcType="DECIMAL" property="realmoney" />
    <result column="PayDate" jdbcType="TIMESTAMP" property="paydate" />
    <result column="ProjectDate1" jdbcType="TIMESTAMP" property="projectdate1" />
    <result column="ProjectDate2" jdbcType="TIMESTAMP" property="projectdate2" />
    <result column="AreaID" jdbcType="INTEGER" property="areaid" />
    <result column="AbortCause" jdbcType="VARCHAR" property="abortcause" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu May 06 11:19:55 CST 2021.-->
    OrderNo, OrderType, StepID, CreateEmp, CreateDate, CompleteEmp, CompleteDate, LastEditEmp, 
    LastEditDate, UserName, UserType, Address, LinkMan, Phone, UseTarget, HouseHeight, 
    MaxAmount, MeterTypeID, MeterCount, UserRemark, PayType, BankCompany, BankNum, OldUserNo, 
    OldUserName, OldUserPhone, OldUserAddr, OldMeter, AuditEmpID, AuditMessage, ProjectMoney, 
    RealMoney, PayDate, ProjectDate1, ProjectDate2, AreaID, AbortCause
  </sql>
</mapper>