<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mox.mapper.PyBalancedetailMapper">
  <resultMap id="BaseResultMap" type="com.mox.entity.PyBalancedetail">
    <!--@mbg.generated generated on Thu May 06 11:19:55 CST 2021.-->
    <!--@Table py_balancedetail-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ParentID" jdbcType="INTEGER" property="parentid" />
    <result column="UserNo" jdbcType="VARCHAR" property="userno" />
    <result column="BalanceDate" jdbcType="TIMESTAMP" property="balancedate" />
    <result column="BalanceMoney" jdbcType="DECIMAL" property="balancemoney" />
    <result column="BillNo" jdbcType="VARCHAR" property="billno" />
    <result column="BillDetailID" jdbcType="INTEGER" property="billdetailid" />
    <result column="CostTypeCode" jdbcType="VARCHAR" property="costtypecode" />
    <result column="DetailRealMoney1" jdbcType="DECIMAL" property="detailrealmoney1" />
    <result column="DetailRealMoney2" jdbcType="DECIMAL" property="detailrealmoney2" />
    <result column="PayNo" jdbcType="VARCHAR" property="payno" />
    <result column="PayUseMoney1" jdbcType="DECIMAL" property="payusemoney1" />
    <result column="PayUseMoney2" jdbcType="DECIMAL" property="payusemoney2" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu May 06 11:19:55 CST 2021.-->
    ID, ParentID, UserNo, BalanceDate, BalanceMoney, BillNo, BillDetailID, CostTypeCode, 
    DetailRealMoney1, DetailRealMoney2, PayNo, PayUseMoney1, PayUseMoney2
  </sql>
</mapper>