<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mox.mapper.SyMenuMapper">
  <resultMap id="BaseResultMap" type="com.mox.entity.SyMenu">
    <!--@mbg.generated generated on Thu May 06 11:19:55 CST 2021.-->
    <!--@Table sy_menu-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="MenuName" jdbcType="VARCHAR" property="menuname" />
    <result column="Parent" jdbcType="INTEGER" property="parent" />
    <result column="Url" jdbcType="VARCHAR" property="url" />
    <result column="OnClick" jdbcType="VARCHAR" property="onclick" />
    <result column="Icon" jdbcType="VARCHAR" property="icon" />
    <result column="OrderIndex" jdbcType="INTEGER" property="orderindex" />
    <result column="FlowID" jdbcType="INTEGER" property="flowid" />
    <result column="Disabled" jdbcType="BIT" property="disabled" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu May 06 11:19:55 CST 2021.-->
    ID, MenuName, Parent, Url, OnClick, Icon, OrderIndex, FlowID, Disabled
  </sql>
</mapper>